*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d3d6db;
    background-size: cover;
    font-family: Arial, Tahoma, Serif;
}
/*NAVBAR*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #d3d6db;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    padding-left: 1rem;
}

.heading{
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    object-fit: fill;
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 16rem;
     padding-bottom: 5px;
     display: block;
     transform: translate(0);
}

.paragraph{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20rem;
}

.down{
    text-align: center;
    font-size: small;
}

.downim{
    height: 5rem;
    width: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    flex-basis: auto;
}

.box{
    height: 15rem;
    width: 20rem;
    padding: 2rem;
    border: 2px solid black;
    background-color: rgb(71, 138, 165);
    text-align: center;
}